* {
    margin: 0;
    padding: 0;
}

.container {
    height: 95vh;
    background-color: #ffffff;
    margin: 0 5%;
    grid-template-columns: repeat(4, 1fr)
    grid-template-rows: 23% 23% 23% 15%;
    display: grid;
    gap: 2%;
    grid-template-areas: "header header header header"
                        "box1 box2 box3 aside"
                        "main main main aside"
                        "footer footer footer footer";
}

.box {
    background-color: #4169e1;
    color: #ffffff ;
    font-size: 20px;
    font-family: sans-serif;
    padding: 20px;
}

header {
    grid-area: header;
}

#box1 {
    grid-area: box1;
}

#box2 {
    grid-area: box2;
}

#box3 {
    grid-area: box3;
}

aside {
    grid-area: aside;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}